*{
    padding: 0;
    margin: 0;
}
#banner{
    background-image: url(./imges/Background.png);
    width: 100%;
    /* height: 1573px; */
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: center;
    /* position: relative; */

}
.container{
    width: 1757px;
    margin: 0 auto;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
    position: absolute;
    top: 64px;
    left: 50%;
    align-items: center;
    transform: translateX(-50%);
}
.navitems ul{
    display: flex;
    justify-content:space-between;
    width: 348px;
    list-style: none;
}
.button a{
text-decoration: none;
 font-family: "Open Sans", sans-serif;
 color: #fff;
 font-weight: 400;
 
 font-size: 17px;
}
.navitems ul li a{
    text-decoration: none;
     font-family: "Open Sans", sans-serif;
     color:#fff;
     font-weight: 600;
     font-size: 18px;
     
}

.titel p{
  font-family: "Open Sans", sans-serif;
     color:#FFC178;
     font-weight: bold;
     font-size: 18px;
     margin-left: 96px;
   position: relative;
}
.titel p::before{
   content:'';
   display: inline-block;
    width: 72px;
    height: 2px;
    background:#FFC178;
    top: 50%;
    left:-90PX;
    transform: translateY(-50%);
position: absolute; 
}
.titel h1{
    font-family: "Open Sans", sans-serif;
     color:#fff;
     font-weight:bold;
     font-size: 96px;
     margin-top: 8px;
}
.one h1{
    font-family: "Open Sans", sans-serif;
     color:#fff;
     font-weight:500;
     font-size: 88px;
}

.titel {
    padding: 287px 0px 1025px 500px;
}
body{
    background: #000;
}
#about{
    margin-top: -100px;
    padding-bottom: 250px;
    margin-left: 332px;
}
.right p{
 font-family: "Open Sans", sans-serif;
     color:#FFC178;
     font-weight:bold;
     font-size:18px;
     position: relative;
     margin-left: 90px;
}
.right p::before{
    content:'';
    width: 72px;
    height: 2px;
    background: #FFC178;
    display: inline-block;
    top: 50%;
    left: -85px;
    transform: translateY(-50%);
    position: absolute;
}
.right h1{
     font-family: "Open Sans", sans-serif;
     color:#fff;
     font-weight:bold;
     font-size:54px;
     margin-top: 27px;
     width: 470px;
}
.two{
  font-family: "Open Sans", sans-serif;
     color:#fff;
     font-weight:600;
     font-size:18px !important;
     line-height: 32px; 
     width: 632px; 
     margin-top: 27px;
}
.flexs{
    display: flex;
    justify-content: space-between;
}
.right{
    margin-right: 300px;
    margin-top: 87px;
}
.lefts p{
     font-family: "Open Sans", sans-serif;
     color:#FFC178;
     font-weight:bold;
    font-size: 18px;
    position: relative;
    margin-left: 96px;
    margin-top: 115px;
}
.lefts p::before{
content: '';
  width: 72px;
    height: 2px;
    background: #FFC178;
    display: inline-block;
    top: 50%;
    left: -85px;
    transform: translateY(-50%);
    position: absolute;
}
.lefts h1{
     font-family: "Open Sans", sans-serif;
     color: #fff;;
     font-weight:bold;
     font-size: 64px;
     width: 555px;
     
}
.op{
    font-family: "Open Sans", sans-serif !important;
     color: #fff;
     font-weight:600 !important;
     font-size: 18px !important;
     line-height: 32px !important;
     width: 632px !important;
     
}
.change{
    display: flex;
    justify-content: space-between;
}
#four{
    padding: 0px 120px 250px 434px;
}
.change{
    margin-right: 270px;
    
}
#ten{
    padding: 0px 120px 250px 435px;
    background-image: url(./imges/image\ 2.png);
          background-repeat: no-repeat;
    background-position: center;
}
.done{
    padding: 553px 0px 0px 190px;
    width: 1113px;
}

.done p::after{
    content:'';
    width: 72px;
    height: 2px;
    background: #FFC178;
    display: inline-block;
    top: 50%;
    right: -85px;
    position: absolute;
}
.done p{
      font-family: "Open Sans", sans-serif;
     color:#FFC178;
     font-weight:bold;
    font-size: 18px;
    position: relative;
    display: inline-block;
margin-left: 340px;
}
.done P::before{
     content:'';
    width: 72px;
    height: 2px;
    background: #FFC178;
    display: inline-block;
    top: 50%;
    left: -85px;
    transform: translateY(-50%);
    position: absolute;
}
.done h1{
    font-family: "Open Sans", sans-serif;
     color: #fff;;
     font-weight:bold;
    font-size: 64px;
    width: 705px;
}
.done h2{
        font-family: "Open Sans", sans-serif;
     color: #fff;;
     font-weight:600;
    font-size: 18px;
    width: 935px;
    line-height: 32px;

}
footer{
    margin-top: 250px;
}
.container{
    width: 1460px;
}
.navitem{
    display: flex;
    justify-content: space-between;
    
}
.fnav{
   display: flex;
    justify-content: space-between;
}
.botton a{
font-family: "Open Sans", sans-serif ;
font-size: 20px;
color: #fff;
font-weight: 500;
text-decoration: none;
padding: 24px 74px 22px 69px;
transition: all ease .5s;
border-radius: 8px;
}
.botton a:hover{
background-color: #FFA343;
color: #000;
}
.snav{
    width: 100%;
    height: 2px;
    background-color: #fff;
    opacity: 30%;
    margin-top: 47px;
}
.leftl h1{
    font-family: "Open Sans", sans-serif ;
font-size: 36px;
color: #fff;
font-weight: bold;
width: 377px;
margin-top: 55px;
}
.bottonn a{
    font-family: "Open Sans", sans-serif ;
font-size: 20px;
opacity: 50%;
color: #fff;
font-weight: 500;
padding: 19px 289px 31px 14px;
display: inline-block;
width: 135px;
text-decoration: none;


}
.qnav{
    position: relative;

}
.hnav{
    width: 69px;
    height: 69px;
    background-color: #FFA343;
    position: absolute;
    top: 6px;
    left: 342px;
    border-radius: 10px;
    
}
.bottonn{
    margin-top: 50px;
    border-bottom: 2px solid white;
    width: 400px;
    height: 78px;
}
.all a{
      font-family: "Open Sans", sans-serif ;
font-size: 19px;
text-decoration: none;
color: #fff;
font-weight: 500;
transition: all ease .4s;

}
.all a:hover{
    color: #FFA343;
}
.all{
display: flex;
gap: 218px;

}
.box{
    display: flex;
    justify-content: space-between;
}
.leftl p{
    margin-top: 100px;
}
.aa{
    margin-top: 25px;
    display: flex;
     flex-direction: column;
     gap: 40px;
}


.bb{
    margin-top: 25px;
    display: flex;
     flex-direction: column;
     gap: 40px;
}
.cc{
    margin-top: 25px;
    display: flex;
     flex-direction: column;
     gap: 40px;
}
.rightr{
    width: 60%;
}
.dinq h1{
      font-family: "Open Sans", sans-serif ;
font-size: 19px;

color: #fff;
font-weight: 500;
display: inline-block;
}
.dinq h2{
  font-family: "Open Sans", sans-serif ;
font-size: 19px;
display: inline-block;
color: #fff;
font-weight: 500;
margin-left: 50px;
margin-top: 104px;
}
.oon{
    display: flex;
    justify-content: space-between;

}
.iam{
    margin-top: 101px;
}